<h1 class="mat-h1">Home Page</h1>

<h2 class="mat-h2">Web technológiák 2 beadandó</h2>

<h3 class="mat-h3">Technológiák</h3>

<ul>
    <li>Angular 11</li>
    <li>Angular Material</li>
    <li>RxJs</li>
    <li>Express.js</li>
    <li>TypeScript</li>
    <li>Mongoose + MongoDB</li>
    <li>JWT + bcrypt</li>
</ul>

<b>Készítette:</b> Streba Dániel (H0SRE6) 2021

<p><b>GitHub repository: </b> <a href="https://github.com/danielstreba/webtech2">https://github.com/danielstreba/webtech2</a></p>

<h3 class="mat-h3">Tudnivalók</h3>

A jobb felső sarokban lévő 'account' ikonra kattintva érhető el a bejelentkezés és a regisztráció.