<mat-toolbar color="primary">
    <mat-toolbar-row class="row">
        <span class="title">Webtech2</span>
        <div>
            <button mat-button routerLink="/">
                Home
            </button>
            <ng-container *ngIf="authService.currentUser$ | async; then loggedIn else loggedOut">
            </ng-container>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template #loggedOut>
    <button mat-icon-button [matMenuTriggerFor]="loggedInMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #loggedInMenu="matMenu">
        <button mat-menu-item routerLink="/login">
            Login
        </button>
        <button mat-menu-item routerLink="/register">
            Register
        </button>
    </mat-menu>
</ng-template>

<ng-template #loggedIn>
    <button mat-button routerLink="/products">
        Products
    </button>
    <button mat-icon-button [matMenuTriggerFor]="loggedInMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #loggedInMenu="matMenu">
        <span class="user-info">
            Logged in as <b>{{(authService.currentUser$ | async)?.username}}</b>
        </span>
        <button mat-menu-item (click)="logout()">
            Logout
        </button>
    </mat-menu>
</ng-template>