<div class="container">
    <h1 class="mat-h1">Register Form</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="standard">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" required minlength="3" maxlength="20">
            <mat-error *ngIf="f.username.touched && f.username.invalid">
                <span *ngIf="f.username.errors?.required">This field is mandatory.</span>
                <span *ngIf="f.username.errors?.minlength">This field needs to be at least 3 characters long.</span>
                <span *ngIf="f.username.errors?.maxlength">This field needs to be at most 20 characters long.</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required minlength="3">
            <mat-error *ngIf="f.password.touched && f.password.invalid">
                <span *ngIf="f.password.errors?.required">This field is mandatory.</span>
                <span *ngIf="f.password.errors?.minlength">This field needs to be at least 3 characters long.</span>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
</div>